<h1>All your contacts here:</h1>
<% @people.each do |person| %>
  <p>  <%= person.first_name %> </p>
  <p><%= person.last_name %></p>
  <p><%= person.email %></p>
  <p><%= person.phone_number %></p>
  <hr />
<% end %>
